{{ define "main" }}
<div class="row mb-2 no-gutters">
  {{ $flag := or (ne (string .Params.bookCover) "") (ne (string .Params.bookCoverSmall) "") }}
  {{ if $flag }}
  <div class="col-md-6 mt-2">
    <div class="w-90 m-auto bg-warning">
      {{ if (and .Params.bookCover .Params.bookCoverSmall) }}
      <a href="{{ .Params.bookCover | relURL }}"
        ><img
          class="rounded"
          style="width: 100%;"
          src="{{ .Params.bookCoverSmall | relURL }}"
      /></a>
      {{ else if .Params.bookCover }}
      <img
        class="rounded"
        style="width: 100%;"
        src="{{ .Params.bookCover | relURL }}"
      />
      {{ end }}
      <div class="bookTitle p-0 rounded" style="width: 60%;">
        <h2 class="book-cover m-0 pl-1 pr-1">{{ .Title | markdownify }}</h2>
        {{ if .Params.subtitle }}
        <h4 class="book-cover pl-1 pr-1 w-auto">
          {{- .Params.subtitle -}}
        </h4>
        {{ end }}
      </div>
      <div class="bookAuthor p-0 rounded">
        <h4 class="book-cover m-0 pl-1 pr-1">{{ .Params.author }}</h4>
      </div>
    </div>
  </div>
  {{ end }}
  
  <div class="{{ cond $flag "col-md-6" "col-md-12" }} p-2 mt-2 rounded shadow">
    {{ if not $flag }}
    <h2>{{ .Title | markdownify }}</h2>
    {{ if .Params.subtitle }}
    <h4>{{ .Params.subtitle }}</h4>
    {{ end }}
    <h5>{{ .Params.author }}</h5>
    <hr>
    {{ end }}
    <h3>|
      Sesiones
    </h3>
    <ul class="list-unstyled">
      {{ range first 10 .Pages }}
      <li>
        <a href="{{ .Permalink }}">
          {{ if eq .Type "content" }}
          <p class="mb-1">
            • {{ .Title }}
          </p>
          {{ end }}
        </a>
      </li>
      {{ end }}

      <!-- Practice -->
      {{ if eq .Params.hasPractice "yes" }}
      <p class="mb-1">Práctica:
        {{ range first 10 .Pages }}
        {{ if eq .Type "practice" }}
        ‣
        <a href="{{ .Permalink }}">
          {{ .Title }}
        </a>
        {{ end }}
        {{ end }}
      </p>
      {{ end }}

      <!-- Wiki -->
      {{ if eq .Params.hasWiki "yes" }}
      <p class="mb-1">Wiki:
        {{ range first 10 .Pages }}
        {{ if eq .Type "wiki" }}
        ‣
        <a href="{{ .Permalink }}">
          {{ .Title }}
        </a>
        {{ end }}
        {{ end }}
      </p>
      {{ end }}

      <!-- Evaluation -->
      {{ if eq .Params.hasEvaluation "yes" }}
      <p class="mb-1">Evaluación:
        {{ range first 10 .Pages }}
        {{ if eq .Type "eval" }}
        ‣
        <a href="{{ .Permalink }}">
          {{ .Title }}
        </a>
        {{ end }}
        {{ end }}
      </p>
      {{ end }}
    </ul>
  </div>
</div>
{{ end }}