<footer class="d-flex flex-row flex-wrap justify-content-between">
  <div class="d-flex flex-column">
    <span class="mb-1">
      {{ .Site.Params.footer1 | markdownify }}
      &middot;
      {{ .Site.Params.footer2 | markdownify }}
    </span>
  </div>

    <div class="row">
      <div class="column" style="
      width: 100%;">Sponsors:</div>
      <div class="column" style="
      width: 120px;
      margin-left: 65px;"><img src="images/ici_web.png" height="40%" ></div>
      <div class="column" style="
      width: 120px;
      margin-left: 10px;"><img src="images/intel_web.png" height="20%" ></div>
    </div> 

  </footer>
